<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <img src="http://sigce.edu.in/images/logo-170x172.png" width="30" height="30" class="d-inline-block align-top"
                alt="">
            Sigce Portal
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto navbar-right">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/courses">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/createpost">Create Post</a>
                </li>
                <ul class="nav navbar-nav navbar-right" style="text-align:right;">
                    <% if (!currentUser) { %>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Login</a>
                    </li>
                    <li>
                        <a href="/register" class="nav-link">Register</a>
                    </li>
                    <% } else{ %>
                    <li>
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    <% } %>
                </ul>
            </ul>
        </div>
    </nav>

    <!-- sem 1 -->
    <div class="row space-btw">
        <div class="col-md-12">
            <hr>
            <h3>Sem 1</h3>
            <br>
            <a href="" class="btn btn-lg btn-link">Subject 1</a>
            <a href="" class="btn btn-lg btn-link">Subject 2</a>
            <a href="" class="btn btn-lg btn-link">Subject 3</a>
            <a href="" class="btn btn-lg btn-link">Subject 4</a>
            <a href="" class="btn btn-lg btn-link">Subject 5</a>
        </div>
    </div>

    <!-- sem 2 -->
    <div class="row space-btw">
        <div class="col-md-12">
            <hr>
            <h3>Sem 2</h3>
            <br>
            <a href="" class="btn btn-lg btn-link">Subject 1</a>
            <a href="" class="btn btn-lg btn-link">Subject 2</a>
            <a href="" class="btn btn-lg btn-link">Subject 3</a>
            <a href="" class="btn btn-lg btn-link">Subject 4</a>
            <a href="" class="btn btn-lg btn-link">Subject 5</a>
        </div>
    </div>

    <!-- sem 3 -->
    <div class="row space-btw">
        <div class="col-md-12">
            <hr>
            <h3>Sem 3</h3>
            <br>
            <a href="/computercourses/m3" class="btn btn-lg btn-link">Applied Mathematics 3</a>
            <a href="/computercourses/ds" class="btn btn-lg btn-link">Data Structures</a>
            <a href="/computercourses/dlda" class="btn btn-lg btn-link">DLDA</a>
            <a href="/computercourses/eccf" class="btn btn-lg btn-link">ECCF</a>
            <a href="/computercourses/dis" class="btn btn-lg btn-link">DIS</a>
        </div>
    </div>

    <!-- sem 4 -->
    <div class="row space-btw">
        <div class="col-md-12">
            <hr>
            <h3>Sem 4</h3>
            <br>
            <a href="/computercourses/m4" class="btn btn-lg btn-link">Applied Mathematics 4</a>
            <a href="/computercourses/aoa" class="btn btn-lg btn-link">AOA</a>
            <a href="/computercourses/coa" class="btn btn-lg btn-link">COA</a>
            <a href="/computercourses/os" class="btn btn-lg btn-link">OS</a>
            <a href="/computercourses/cg" class="btn btn-lg btn-link">CG</a>
        </div>
    </div>

    <!-- sem 5 -->
    <div class="row space-btw">
        <div class="col-md-12">
            <hr>
            <h3>Sem 5</h3>
            <br>
            <a href="/computercourses/mp" class="btn btn-lg btn-link">Microprocessor</a>
            <a href="/computercourses/dbms" class="btn btn-lg btn-link">DBMS</a>
            <a href="/computercourses/cn" class="btn btn-lg btn-link">CN</a>
            <a href="/computercourses/toc" class="btn btn-lg btn-link">TOC</a>
            <a href="/computercourses/opt1s5" class="btn btn-lg btn-link">OPTIONAL</a>
        </div>
    </div>

    <!-- sem 6 -->
    <div class="row space-btw">
        <div class="col-md-12">
            <hr>
            <h3>Sem 6</h3>
            <br>
            <a href="/computercourses/se" class="btn btn-lg btn-link">SE</a>
            <a href="/computercourses/spcc" class="btn btn-lg btn-link">SPCC</a>
            <a href="/computercourses/dwm" class="btn btn-lg btn-link">DWM</a>
            <a href="/computercourses/css" class="btn btn-lg btn-link">CSS</a>
            <a href="/computercourses/opt1s6" class="btn btn-lg btn-link">OPTIONAL</a>
        </div>
    </div>

    <!-- sem 7 -->
    <div class="row space-btw">
        <div class="col-md-12">
            <hr>
            <h3>Sem 7</h3>
            <br>
            <a href="/computercourses/dip" class="btn btn-lg btn-link">DIP</a>
            <a href="/computercourses/mcc" class="btn btn-lg btn-link">MCC</a>
            <a href="/computercourses/ai" class="btn btn-lg btn-link">AI</a>
            <a href="/computercourses/opt1s7" class="btn btn-lg btn-link">OPTIONAL 1</a>
            <a href="/computercourses/opt2s7" class="btn btn-lg btn-link">OPTIONAL 2</a>
        </div>
    </div>

    <!-- sem 8 -->
    <div class="row space-btw">
        <div class="col-md-12">
            <hr>
            <h3>Sem 8</h3>
            <br>
            <a href="/computercourses/hmi" class="btn btn-lg btn-link">HMI</a>
            <a href="/computercourses/pds" class="btn btn-lg btn-link">PDS</a>
            <a href="/computercourses/opt1s8" class="btn btn-lg btn-link">OPTIONAL 1</a>
            <a href="/computercourses/opt2s8" class="btn btn-lg btn-link">OPTIONAL 2</a>
        </div>
    </div>




</body>

</html>