body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px 30px 30px 30px;
  background-color: rgb();

}

a {
  color: #00B7FF;
}

.create-post-form-container {
  /* height: 200px;
  width: 1000px; */
  margin: 50px auto 20px auto;
  justify-content: center;
}

.post-container {
  margin: 50px 40px 0px 40px;
  border: 1px rgb(0, 143, 255) solid;
  text-align: center;
}

.space-btw-rows {
  margin: 20px;
}

.space-btw{
  margin-right: 50px;
}

.go-btn-space {
  margin: 20px;
}

.extra-padding {
  padding: 5px;
}

.post-content-space{
  margin-left: 8px;
}